<!--{% block scontent %}-->
<!--    {% if form.errors.error %}-->
<!--        <p>{{ form.errors.error }}</p>-->
<!--    {% endif %}-->
<!--    <form action="{% url 'login' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--&lt;!&ndash;    {{ form }}&ndash;&gt;-->
<!--        <div>-->
<!--            <label for="username">Username:</label>-->
<!--            <input type="text" name="username" required>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="password">Password:</label>-->
<!--            <input type="password" name="password" required>-->
<!--        </div>-->
<!--    <button type="submit"> Submit</button>-->
<!--    </form>-->
<!--{% endblock %}-->